/* BINGO CARD */
/* Smartphones (portrait phones, less than 576px) */

#bingo-card {
  margin: 0 auto;
  /* max-width: 100vw; */
  /* display: flex; */
}

#bingo-text {
  font-size: 20px;
  letter-spacing: 65px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20vh);
  grid-template-rows: repeat(5, 20vh);
  justify-content: center;
}

.square {
  border: 1px solid #383838;
  border-radius: 2px;
  font-size: 12px;
  /* height: 50px;
  width: 50px; */
  text-align: center;
  transition: .2s;
  cursor: pointer;
}

.square:hover {
  background-color: #F4F4F4;
}

/* STYLE TO ADD WHEN A SQUARE IS MARKED */
.marked, #sq13 {
  background-image: url("/img/blackmarker1.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  z-index: -1;
}

.hidden {
  display: none;
}
/* MEDIA QUERIES */

/* Smartphones (portrait phones, less than 576px) */
/* @media only screen 
and (max-width : 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }